@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; margin-top: 40px; color: red">TÜM ZAMANLARIN EN İYİ IMDb'YE SAHİP FİLMLERİ</h1>
<div class="turler">
    <img src="~/en_film/resimler_proje/bilim_kurgu_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ BİLİM KURGU <br><br>INCEPTION<br>(IMDb: 8,9)</h5>
    <a href="/Film/BilimKurgu" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/komedi_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ KOMEDİ <br><br>MODERN TIMES<br>(IMDb: 8,8)</h5>
    <a href="/Film/Komedi" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/aksiyon_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ AKSİYON <br><br>BATMAN: THE DARK NIGHT<br>(IMDb: 9,0)</h5>
    <a href="/Film/Aksiyon" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/gerilim_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ GERİLİM <br><br>THE USUAL SUSPECTS<br>(IMDb: 8,5)</h5>
    <a href="/Film/Gerilim" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/korku_filmleri/1.jpeg" alt="" class="turResim">
    <h5>EN İYİ KORKU FİLMİ <br><br>THE SHINING<br>(IMDb: 8,4)</h5>
    <a href="/Film/Korku" style="font-size: 14px;"><b>Hepsini İncele</b></a>
</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/ask_filmleri/2.jpg" alt="" class="turResim">
    <h5>EN İYİ AŞK FİLMİ <br><br>ETERNAL SUNSHINE<br>(IMDb: 8,3)</h5>
    <a href="/Film/Ask" style="font-size: 14px;"><b>Hepsini İncele</b></a>
</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/dram_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ DRAM FİLMİ <br><br>SCHINDLER'S LIST<br>(IMDb: 8,9)</h5>
    <a href="/Film/Dram" style="font-size: 14px;"><b>Hepsini İncele</b></a>
</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/animasyon_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ ANİMASYON FİLMİ <br><br>SPIRETED AWAY<br>(IMDb: 8,6)</h5>
    <a href="/Film/Animasyon" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/biyografi_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ BİYOGRAFİ FİLMİ <br><br>SCHINDLER'S LIST<br>(IMDb: 8,9)</h5>
    <a href="/Film/Biyografi" style="font-size: 14px;"><b>Hepsini İncele</b></a>

</div>

<div class="turler">
    <img src="~/en_film/resimler_proje/çocuk_filmleri/1.jpg" alt="" class="turResim">
    <h5>EN İYİ ÇOCUK FİLMİ <br><br>SPIRETED AWAY<br>(IMDb: 8,6)</h5>
    <a href="/Film/Cocuk" style="font-size: 14px;"><b>Hepsini İncele</b></a>
</div> 